{% extends 'base.html.twig' %}

{% block title %}AlphaBooks - Liste des livres{% endblock %}

{% block body %}
    <img class="bg-image" src="images/bg.jpg" alt="background">


    <h1 class="title is-1 has-text-centered m-6" style="position: relative; z-index: 2; color: #fff;">Liste des Livres</h1>

    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        {% for book in books %}
            <div class="card card-appear" style="width: 15%; min-width: 200px; margin: 2em;">
                <div class="card-image">
                    <figure class="image is-3by4">
                        <img src="images/book.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">{{ book.titre | capitalize }}</p>
                            <p class="subtitle is-6">{{ book.auteur }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            {% if book.quantite == 0 %}
                                <strong><span style="color: red">Rupture de stock</span></strong>
                            {% else %}
                                Quantité en Stock: <strong>{{ book.quantite }}</strong>
                            {% endif %}
                        </p>
                    </div>

                    <div class="card-footer" style="margin-top: 8px;">
                        <span class="tag is-primary card-footer-item">{{ book.genre }}</span>
                        <span class="tag is-link card-footer-item">{{ book.type }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        const cards = document.querySelectorAll('.card-appear');

        cards.forEach((card, index) => {
            setTimeout(() => {
                card.classList.add('el-fadeDown');
            }, 200 + (index * 200));
        });
    </script>

{% endblock %}
