{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <h1 class="title is-1 has-text-centered m-4">Liste des Livres</h1>

    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        {% for book in books %}
            <div class="card" style="width: 20%; min-width: 200px; margin: 2em;">
                <div class="card-image">
                    <figure class="image is-3by4">
                        <img src="https://placeholdpic.com/300x400?size=70" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ book.titre | capitalize }}</p>
                            <p class="subtitle is-6">{{ book.auteur }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>Genre: <span class="tag is-link">{{ book.genre }}</span></p>
                        <p>Type: <span class="tag is-link">{{ book.type }}</span></p>
                        <p>Quantité en Stock: <strong>{{ book.quantite }}</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
