{% extends 'base.html.twig' %}

{% block title %}Voici vos livres empruntés
{% endblock %}

{% block body %}

	<h1 style="text-align:center" class="title m-6">Listes des Emprunts</h1>
	<div class="table-container">
		<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
			<thead>
				<tr>
					<th class="has-text-white-ter has-background-dark">
						ID Emprunt
					</th>
					<th class="has-text-white-ter has-background-dark">
						ID Utilisateur
					</th>
					<th class="has-text-white-ter has-background-dark">
						Titre Livre
					</th>
					<th class="has-text-white-ter has-background-dark">
						Auteur Livre
					</th>
					<th colspan="2" class="has-text-white-ter has-background-dark">
						Date Emrunté
					</th>
					<th class="has-text-white-ter has-background-dark">
						Date Rendu
					</th>
					<th class="has-text-white-ter has-background-danger">
						Rendre le livre
					</th>
				</tr>
			</thead>
			<tbody>
				{% for emprunt in emprunts %}
					<tr>

						<td class="has-text-grey-lighter has-background-primary-dark">
							{{ emprunt.id}}
						</td>
						<td class="has-text-grey-lighter has-background-primary-dark">
							{{ emprunt.user_id}}
						</td>
						<td class="has-text-white has-background-info-dark ">
							{{ emprunt.book.titre}}
						</td>
						<td class="has-text-white has-background-info-dark ">
							{{ emprunt.book.auteur}}
						</td>
						<td class="has-text-white has-background-info-dark " colspan="2">
							{{ emprunt.date_emprunt | date('d/m/Y à H:i')}}
						</td>
						<td class="has-text-white has-background-info-dark ">
							{{ emprunt.date_rendu}}
						</td>
						<td class="has-text-white has-background-info-dark ">
							{% if (emprunt.date_rendu == '') or (emprunt.date_rendu == '-1') %}
								<a class="button is-danger" href="{{ path('emprunts_returnBook', {'id': emprunt.user_id, 'emprunt_id': emprunt.id}) }}">Rendre</a>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">Aucun livre</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
