<nav class="navbar is-dark {% if app.request.get('_route') == 'home' %}is-transparent{% endif %}" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://seeklogo.com/images/B/bulma-logo-45B5145BF4-seeklogo.com.png" width="20" height="28">&nbsp;<strong>AlphaBooks</strong>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('home') }}">
                Accueil
            </a>

            <a class="navbar-item" href="{{ path('books_list_public') }}">
                Livres
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Administration
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ path('user_index') }}">
                        Liste Abonnés
                    </a>
                    <a class="navbar-item" href="{{ path('user_new') }}">
                        Créer un Abonné
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{{ path('category_index') }}">
                        Liste Catégories
                    </a>
                    <a class="navbar-item" href="{{ path('book_index') }}">
                        Liste Livres
                    </a>
                </div>
            </div>

            <a class="navbar-item" href="{{ path('intro') }}">
                A propos
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ path('app_login') }}">
                        <strong>Connexion</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>