{% extends 'base.html.twig' %}

{% block title %}Formulaire utilisateur
{% endblock %}

{% block body %}
	<h1>Formulaire utilisateur</h1>


	{{ form_start(form) }}

	<div class="field">
		<label class="label">Label</label>
		<div class="control">
			<input id="user_nom" class="input" name="user[nom]" type="text" placeholder="Text input">
		</div>
	</div>


	<button class="btn">{{ button_label|default('Save') }}</button>

	{{ form_end(form) }}


	{# {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }} #}

	<a href="{{ path('user_index') }}">back to list</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
